/*
    1vw = 15.36px;
    $main-color: #8220a2;
*/

/*--------------------------------------------------*/
/* Basic Setup */
/*--------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*--------------------------------------------------*/
/* Reusable Elements */
/*--------------------------------------------------*/
.row {
    max-width: 80vw;
    margin: 0 auto;
}

section {
    margin: 5vw 0;
    padding: 2vw;
}

.box {
    padding: 1%;
}

/*----------------- Headings-------------------- */
h1,
h2,
h3 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    text-align: center;
}

h1 {
    font-size: 300%;
    letter-spacing: 0.2vw;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 100%;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #8220a2;
    content: " ";
    width: 5vw;
    margin: 0 auto;
    margin-top: 1vw;
}

/*----------------- Buttons-------------------- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 0.75vw 2vw; 
    font-weight: 400;
    text-decoration: none;
    border-radius: 10vw;
    transition: background-color 0.3s, color 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #8220a2;
    color: #fff;
    border: 2px solid #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #fff;
    border: 2px solid #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #fff;
    color: #8220a2;
    border: 2px solid #fff;
}

/*----------------- Icons-------------------- */
.icon-big {
    font-size: 300%;
    display: block;
    color: #8220a2;
    margin: 0 auto;
    margin-bottom: 1vw;
    padding-left: 30%;
}

.icon-small {
    display: inline-block;
    width: 2vw;
    color: #8220a2;
    font-size: 100%;
}

/*--------------------------------------------------*/
/* Header */
/*--------------------------------------------------*/
header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(http://www.getamermaid.com/media/image/slider/slider_011.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
}

.main-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    text-align: center;
}

.main-text-box h2 {
    color: #fff;
}

.main-text-box h2:after {
    background-color: transparent;
}

.main-text-box h1 {
    color: #fff;
}


/* navigation directions */

.nav-direction {
    color: #fff;
    width: 3vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    transition: background-color 0.3s;
    position: absolute;
    top: 40%;
}

.nav-direction:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.3); 
}

.nav-direction-left {
}

.nav-direction-right {
    right: 0;
}

.nav-direction i {
    font-size: 200%;
}

/* main navigation */
.main-nav {
    list-style: none;
    float: left;
    margin-top: 2.5vw;
    margin-left: 9vw;
}

.main-nav li {
    display: inline-block;
    margin-left: 2.5vw;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    font-weight: 500;
    padding-bottom: 0.3vw;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}

/* social navigation */
.social-nav {
    float: right;
    list-style: none;
    margin-top: 2.7vw;
}

.social-nav li {
    display: inline-block;
    margin-left: 2vw;
}

.social-nav li a:link,
.social-nav li a:visited {
    color: #fff;
    font-size: 110%;
    transition: color 0.2s;
}

.social-nav li a:hover,
.social-nav li a:active {
    color: #ccc;
}



/*--------------------------------------------------*/
/* Customers */
/*--------------------------------------------------*/
.section-customers {
    margin-top: 0;
    background-color: #f3f3f3;
}

.section-customers h3 {
    color: #000;
    font-weight: 500;
}

.customers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.customers img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    max-height: 5vw;
}


/*--------------------------------------------------*/
/* Features */
/*--------------------------------------------------*/
.section-features {
    height: 10vw;
}

.section-features h3 {
    color: #000;
    margin-bottom: 1vw;
}

.long-copy {
    text-align: center;
    margin: 2vw auto;
}

.section-features img {
    display: block;
    max-width: 100%;
    height: auto;
}

.feature {
    padding-top: 3vw;
}

.feature h3 {
    text-align: left;
}

.feature h3:nth-child(2) {
    padding-left: 1vw;
}

.feature p {
    text-align: left;
    padding-bottom: 0.75vw;
    font-size: 90%;
}



/*--------------------------------------------------*/
/* Pricing */
/*--------------------------------------------------*/
.section-pricing {
    margin-top: 35vw;
    background-color: #f3f3f3;
    height: 10vw;
}